
<div class="separadorendereco"></div>
<section class="product__container">    
    <div class="product-image__container">
        <img [src]="produto?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="card-title">{{ produto?.descricao}}</h2>
        <h3 class="card-text">{{ produto?.preco | currency:"BRL" }}</h3>
        <p class="card-text">Estoque disponível:</p>
        <label>
            Quantidade:
            <input type="number" [(ngModel)]="quantidade" min="1">
            unidade(s)
        </label>
        <p class="product__avaiability">
            {{ produto?.quantidadeEstoque }} unidade(s) em estoque
        </p>
        <button class="btn btn-primary btn-block" (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
    </div>
</section>

