.buscar {
  display: flex;
}

.buscar {
  align-items: center;
  justify-content: center;
}

.buscar {
  padding: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.buscar input {
  border: transparent;
  width: 100%;
  padding: 8px 18px;
  border-radius: 5px;
  outline: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  left: 0;
}

.logo {
  width: 30%;
  height: auto;
}

.buscar .logo {
  width: 30%;
  height: auto;
  margin-right: 100px;
}
