<div *ngIf="itensCarrinho.length > 0; else semProduto">
    <div class="endereco col-10">
        <div class="endereco-titulo ">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0003c4"
                class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg> Selecione o Endereço

        </div>

        <div class="endereco-input">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Inserir CEP" aria-label="Insira o CEP"
                aria-describedby="button-addon2" mask="00000-000">
              <div class="input-group-append">
                <button class="btn btn-primary cep-button" type="button" id="button-addon2">OK</button>
              </div>
            </div>
          </div>

    </div>

    <div class="border rounded p-3 mb-3 col-10 produto">
        <div class="d-flex align-items-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="#0003c4" class="bi bi-basket"
                viewBox="0 0 16 16">
                <path
                    d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
            </svg>
            <div class="cupom-container">
                <h2 class="mb-0">PRODUTO E FRETE</h2>
                <div class="summary-container d-none d-xl-block">
                    <app-carrinho-total></app-carrinho-total>
                </div>
            </div>    

            <button class="btn-remover-todos-produtos">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16" style="margin-right: 0.5rem;">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <span>REMOVER TODOS OS PRODUTOS</span>
            </button>
        </div>           
        
            <app-carrinho-produtos [produto]="produtoSelecionado" (produtoRemovido)="atualizaItensCarrinho($event)"></app-carrinho-produtos>                            
        
    </div>

    <div class="cupom-container  col-10">
        <div class="cupom">
            <app-carrinho-cupom></app-carrinho-cupom>
            
        </div>  
        
        <div class="button-style col-12 d-xl-none d-flex ">
            <!-- Botões a serem exibidos apenas em dispositivos com tamanho de tela menor que "xxl" -->
            <div class="col-5 justify-content-center" style="margin-right: 10px; width: 49%; ">
              <button class="button-comprar btn btn-primary d-inline-block mb-3 w-100" (click)="comprar()">Comprar</button>
            </div>
            <div class="col-5 justify-content-center" style="margin-left: 3px; width: 49%; ">
              <button class="button-comprar btn btn-secondary d-inline-block mb-3 w-100" (click)="continuarComprando()">Continuar Comprando</button>
            </div>
        </div>        
         
    </div>
</div>

<ng-template #semProduto>
    <div class="separadorNg"></div>
    Nenhum produto foi adicionado ao carrinho
</ng-template>