<div class="container">
  <div style="display: flex; align-items: center;">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="18" width="18" style="float: left; margin-right: 4px;">
      <path fill="blue" d="M334.627,16H48V496H472V153.373ZM440,464H80V48H321.373L440,166.627Z" class="ci-primary"></path>
  <path fill="blue" d="M239.861,152a95.861,95.861,0,1,0,53.624,175.284l68.03,68.029,22.627-22.626-67.5-67.5A95.816,95.816,0,0,0,239.861,152ZM176,247.861a63.862,63.862,0,1,1,63.861,63.861A63.933,63.933,0,0,1,176,247.861Z" class="ci-primary"></path>
    </svg> -->
    <h2 class="text-sm" style="margin-bottom: 1px;" >RESUMO</h2>
  </div>
  <div class="row">
    <div class="valor-produtos">
      <h4 class="text-sn">Valor dos Produtos: <b class="totaltaxa">{{carrinhoService.totalComTaxa | currency: "BRL"}}</b></h4>      
    </div>

    <div class="">
      <h4>Frete:  <b class="totaltaxaFrete">{{taxaFrete | currency: "BRL"}}</b></h4>
      
    </div>
    <div class="total">
      <h4>Total à prazo: <b class="totaltaxaPrazo">{{carrinhoService.totalComTaxa | currency: "BRL"}}</b></h4>
      <h5>(em até 10x de <b class="totalPrazo">{{carrinhoService.totalComTaxa/10 | currency: "BRL"}} sem juros)</b> </h5>
      
    </div>
    <div class="a-vista">
      <h4 style="color: green;  margin-bottom: 2px;">Valor à vista no <b class="pix" style="line-height: 1em;">Pix:</b></h4>
      <b class="totalPix" style="line-height: 2em;">{{carrinhoService.total | currency: "BRL"}}</b>
      <h5 style="color: green; line-height: 0em; font-size: 13px  ;">(Economize: {{carrinhoService.totalComTaxa - carrinhoService.total | currency: "BRL"}})</h5>      
      
    </div>
    <button class="btn btn-primary d-inline-block mb-3" (click)="comprar()">Comprar</button>
    <button class="btn btn-secondary d-inline-block" (click)="continuarComprando()">Continuar Comprando</button>
  </div>
</div>