.servicos {
    background-color: #f2f2f2;
  }
  
  input[type="radio"] {
    vertical-align: middle;
  }
  
  .servicos label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1.5; /* adiciona um line-height */
  }
